<!DOCTYPE html>
<html>

<head>
  <title>Aikido Reg.</title>
  <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/materialize.min.js"></script>
  <script type="text/javascript" src="./js/is.min.js"></script>
  <script type="text/javascript" src="./js/lodash.min.js"></script>
  <script type="text/javascript" src="./js/angular.min.js"></script>
  <script type="text/javascript" src="./js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="./js/angular-translate.min.js"></script>
  <script type="text/javascript" src="./js/angular-translate-storage-local.min.js"></script>
  <script type="text/javascript" src="./js/angular-translate-storage-cookie.min.js"></script>
  <script type="text/javascript" src="./app/reg.module.js"></script>
  <script type="text/javascript" src="./app/reg.config.js"></script>
  <script type="text/javascript" src="./app/reg.service.js"></script>
  <style>
    /* hack to materializecss: required list */
    .req {border-bottom: 2px red solid;}
  </style>
</head>

<body ng-app="Reg">

  <div class="container" ng-controller="RegistrationCtrl as reg">
    <div class="row">
      <div class="offset-m2 col s12 m8 section">
        <div class="white-text red" style="font-size: 1.5em; text-align: center">{{'regDeadLine' | translate}}&nbsp;2015.06.30</div>
        <h5 class="blue-text text-darken-2">{{'reg' | translate}}</h5>
        <p>
          {{'reg_step' | translate}}
          <ol style="font-weight: 300;">
            <li>{{'reg_step_1' | translate}}</li>
            <li>{{'reg_step_2' | translate}}</li>
            <li>{{'reg_step_3' | translate}}</li>
            <li>{{'reg_step_4' | translate}}</li>
            <li>{{'reg_step_5' | translate}}</li>
          </ol>
        </p>
        <div style="text-align: justify">
          <span class="red-text">{{'important' | translate}} </span>{{'reg_msg2' | translate}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-m2 col s12 m8">

        <h6 class="blue-text text-darken-2" style="padding-top: 1em">{{'events' | translate}}</h6>
        <table>
          <tr class="grey lighten-4">
            <td>08.06.</td>
            <td>{{'thursday' | translate}}</td>
            <td>11.00 - 12.30 keiko</td>
            <td>16.00 - 17.30 keiko</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr class="grey lighten-5">
            <td>08.07.</td>
            <td>{{'friday' | translate}}</td>
            <td>10.00 - 11.30 keiko</td>
            <td>16.00 - 17.30 keiko</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr class="grey lighten-4">
            <td>08.08.</td>
            <td>{{'saturday' | translate}}</td>
            <td>10.00 - 11.30 keiko</td>
            <td>15.00 - 16.30 keiko</td>
            <td>17.00 - {{'demo' | translate}}</td>
            <td>19.00 - {{'bq' | translate}}</td>
          </tr>
          <tr class="grey lighten-5">
            <td>08.09.</td>
            <td>{{'sunday' | translate}}</td>
            <td>10.00 - 11.30 keiko</td>
            <td>12.00 - {{'danexam' | translate}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <h6 class="blue-text text-darken-2" style="padding-top: 2em">{{'ticketPrice' | translate}}</h6>
        <table>
          <tr class="grey lighten-5">
            <th>&nbsp;</th>
            <th colspan="2" style="text-align: center">{{'mkdeM' | translate}}</th>
            <th colspan="2" style="text-align: center">{{'noMkdeM' | translate}}</th>
          </tr>
          <tr class="grey lighten-4">
            <th>{{'ticket' | translate}}</th>
            <th class="right-align">{{'prepaid' | translate}}</th>
            <th class="right-align">{{'onsite' | translate}}</th>
            <th class="right-align">{{'prepaid' | translate}}</th>
            <th class="right-align">{{'onsite' | translate}}</th>
          </tr>
          <tr class="grey lighten-5">
            <td>{{'wholeCamp' | translate}}</td>
            <td class="right-align">13 000</td>
            <td class="right-align">15 000</td>
            <td class="right-align">17 000</td>
            <td class="right-align">20 0000</td>
          </tr>
          <tr class="grey lighten-4">
            <td>{{'dailyTicket' | translate}}</td>
            <td class="right-align">4 000</td>
            <td class="right-align">5 000</td>
            <td class="right-align">6 000</td>
            <td class="right-align">7 000</td>
          </tr>
          <tr class="grey lighten-5">
            <td>{{'keikoTicket' | translate}}</td>
            <td class="right-align">2 500</td>
            <td class="right-align">3 000</td>
            <td class="right-align">3 500</td>
            <td class="right-align">4 000</td>
          </tr>
        </table>

        <h6 class="blue-text text-darken-2" style="padding-top: 2em">{{'ab' | translate}}</h6>
        <p style="font-weight: 300">
          {{'abText' | translate}}
          <br/>
          <br/> {{'locationStr' | translate}}:
          <a href="http://www.kalozfregatt.hu" target="_blank">Kalóz Fregatt Hotel és Étterem</a>
          <br/>{{'address' | translate}}: <a href="https://goo.gl/maps/k36qb" target="_blank"><i class="mdi-maps-place"></i> 2890 Tata, Almási u. 2.</a>
          <div style="text-align: justify">
            <span class="red-text">{{'important' | translate}} </span>
            {{'abSuite' | translate}}
          </div>
        </p>

        <h6 class="blue-text text-darken-2" style="padding-top: 1em">{{'quarters' | translate}}</h6>
        <p style="font-weight: 300;">
          {{'quartersAccom' | translate}} <a href="./elhelyezes.pdf" target="_blank">{{'roomsandbeds' | translate}} - PDF</a>
          <br/>
          <br/>
          <span style="font-weight: 400">2 800 {{'hufpersonnight' | translate}}</span> - <a href="https://goo.gl/maps/TWh8k" target="_blank">Jávorka Sándor kollégium, <i class="mdi-maps-place"></i> 2890 Tata, Új út 19.</a>
          <br/>
          <span style="font-weight: 400">3 000 {{'hufpersonnight' | translate}}</span> - <a href="https://goo.gl/maps/iP2u2" target="_blank">Bláthy Ottó kollégium, <i class="mdi-maps-place"></i> 2890 Tata, Hősök tere 9.</a>
        </p>

        <h6 class="blue-text text-darken-2" style="padding-top: 1em">{{'transfer' | translate}}</h6>
        <p style="font-weight: 300;">
          {{'paymentDetails' | translate}}
          <br/>
          <br/> {{'baOwner' | translate}}:
          <span style="font-weight: 400">Virga János</span>
          <br/> Budapest Bank:
          <span style="font-weight: 400">10103623-25432900-01000004</span>
          <br/>
          <br/> {{'trDetails' | translate}}
          <br/>
          <div style="font-weight: 400">
            <span class="red-text">{{'important' | translate}} </span>{{'reg_msg2' | translate}}
          </div>
        </p>
      </div>
    </div>

    <div ng-show="showReg">
      <form ng-submit="reg.registration()" class="offset-m2 col s12 m8" name="regForm" autocomplete="off" role="form" novalidate>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <h5 class="blue-text text-darken-2">{{'reg-form' | translate}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.name" ng-required="true" ng-pattern="/^([a-zöüóőúéáűíä \-\.]){6,100}$/i" id="name" name="name" type="text" class="form-control" ng-class="{invalid: regForm.name.$invalid}">
            <span ng-show="regForm.name.$invalid && regForm.name.$dirty">{{'validate-name' | translate}}</span>
            <label for="nev">{{'label-name' | translate}}
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.email" ng-required="true" id="email" name="email" type="email" class="form-control" ng-class="{invalid: regForm.email.$invalid}" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
            <span ng-show="regForm.email.$invalid && regForm.email.$dirty">{{'validate-email' | translate}}</span>
            <label for="email">Email
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.dojo" ng-required="true" ng-pattern="/^([a-zöüóőúéáűíä\ \-\.]){2,100}/i" id="dojo" name="dojo" type="text" class="form-control" ng-class="{invalid: regForm.dojo.$invalid}">
            <span ng-show="regForm.dojo.$invalid && regForm.dojo.$dirty">{{'validate-dojo' | translate}}</span>
            <label for="dojo">Dojo
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.tel" maxlength="16" ng-required="true" ng-minlength="7" ng-maxlength="16" ng-pattern="/^([0-9\ \-\+]){7,16}$/" id="tel" name="tel" type="text" class="form-control" ng-class="{invalid: regForm.tel.$invalid}">
            <span ng-show="regForm.tel.$invalid && regForm.tel.$dirty">{{'validate-tel' | translate}}</span>
            <label for="tel">{{'label-tel' | translate}}
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="offset-m2 input-field col m4 s6">
            <input ng-model="reg.mkdeTag" type="checkbox" class="form-control filled-in" id="mkdeTag" name="mkdeTag" ng-change="reg.calcPrice()" />
            <label for="mkdeTag">{{'label-mkdetag' | translate}}</label>
          </div>
          <div class="input-field col m4 s6">
            <input ng-model="reg.dojoleader" type="checkbox" class="form-control filled-in" id="dojoleader" name="dojoleader" />
            <label for="dojoleader">{{'label-dojoleader' | translate}}</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field offset-m2 col m8 s12">
            <select ng-model="reg.ticket" ng-required="true" class="form-control browser-default" ng-class="{true:'req', false:''}[!reg.ticket]" name="ticket" id="ticket" ng-change="reg.calcPrice()">
              <option value="" disabled selected>{{'option-label-ticket' | translate}}</option>
              <optgroup label="">
                <option value="whole">{{'whole' | translate}}</option>
              </optgroup>
              <optgroup label="">
                <option value="1day">{{'1day' | translate}}</option>
                <option value="2day">{{'2day' | translate}}</option>
                <option value="3day">{{'3day' | translate}}</option>
                <option value="4day">{{'4day' | translate}}</option>
              </optgroup>
              <optgroup label="">
                <option value="1keiko">{{'1keiko' | translate}}</option>
                <option value="2keiko">{{'2keiko' | translate}}</option>
                <option value="3keiko">{{'3keiko' | translate}}</option>
                <option value="4keiko">{{'4keiko' | translate}}</option>
                <option value="5keiko">{{'5keiko' | translate}}</option>
                <option value="6keiko">{{'6keiko' | translate}}</option>
                <option value="7keiko">{{'7keiko' | translate}}</option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="row">
          <p class="offset-m2 col m8 s12">{{'label-menu' | translate}} <a href="menu_{{'lang' | translate}}.html" target="_blank">{{'a-menu-list' | translate}}</a></p>
          <div class="input-field offset-m2 col m8 s12">
            <select ng-disabled="reg.isMenuLimitExceeded" ng-model="reg.menu" class="form-control browser-default" name="menu" id="menu" ng-change="reg.calcPrice()">
              <option value="" selected>{{'option-label-menu' | translate}}</option>
              <option value="menu_A">{{'menu_A' | translate}}</option>
              <option value="menu_B">{{'menu_B' | translate}}</option>
              <option value="menu_C">{{'menu_C' | translate}}</option>
              <option value="menu_D">{{'menu_D' | translate}}</option>
              <option value="menu_E">{{'menu_E' | translate}}</option>
              <optgroup label="{{'vega' | translate}}">
                <option value="menu_F">{{'menu_F' | translate}}</option>
                <option value="menu_G">{{'menu_G' | translate}}</option>
              </optgroup>
            </select>
            <div id="menuLimit" ng-show="reg.isMenuLimitExceeded">{{'no-banquet' | translate}}</div>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col m5 s12">
            <select ng-change="reg.resetDay()" ng-disabled="javorkaIsFull && blathyIsFull" ng-model="reg.quarters" class="form-control browser-default" name="quarters" id="quarters">
              <option value="" selected>{{'option-label-quarters' | translate}}</option>
              <option ng-disabled="javorkaIsFull" value="javorka">{{'javorka' | translate}}</option>
              <option ng-disabled="blathyIsFull" value="blathy">{{'blathy' | translate}}</option>
            </select>
            <div id="dormLimit" ng-show="javorkaIsFull && blathyIsFull">{{'no-quarters' | translate}}</div>
            <div id="javorkaLimit" ng-show="javorkaIsFull && !blathyIsFull">{{'no-javorka' | translate}}</div>
            <div id="blathyLimit" ng-show="!javorkaIsFull && blathyIsFull">{{'no-blathy' | translate}}</div>
          </div>
          <div class="input-field col m3 s12">
            <div ng-show="reg.quarters">
              <input ng-change="reg.calcPrice()" ng-disabled="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d1 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d1 === 0)" ng-model="reg.d1" type="checkbox" id="d1" name="d1" class="form-control filled-in"
              />
              <label ng-disabled="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d1 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d1 === 0)" for="d1">
                <i ng-hide="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d1 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d1 === 0)" class="tiny green-text mdi-notification-play-install"></i>
                <i id="d1closed" ng-show="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d1 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d1 === 0)" class="tiny red-text mdi-notification-dnd-forwardslash"></i> {{'thursday' | translate}}
                ({{freeRooms[reg.quarters].d1}})
              </label>
              <br/>
              <input ng-change="reg.calcPrice()" ng-disabled="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d2 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d2 === 0)" ng-model="reg.d2" type="checkbox" id="d2" name="d2" class="form-control filled-in"
              />
              <label ng-disabled="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d2 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d2 === 0)" for="d2">
                <i ng-hide="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d2 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d2 === 0)" class="tiny green-text mdi-notification-play-install"></i>
                <i ng-show="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d2 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d2 === 0)" class="tiny red-text mdi-notification-dnd-forwardslash"></i> {{'friday' | translate}}
                ({{freeRooms[reg.quarters].d2}})
              </label>
              <br/>
              <input ng-change="reg.calcPrice()" ng-disabled="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d3 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d3 === 0)" ng-model="reg.d3" type="checkbox" id="d3" name="d3" class="form-control filled-in"
              />
              <label ng-disabled="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d3 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d3 === 0)" for="d3">
                <i ng-hide="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d3 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d3 === 0)" class="tiny green-text mdi-notification-play-install"></i>
                <i ng-show="!reg.quarters || (reg.quarters === 'javorka' && freeRooms.javorka.d3 === 0) || (reg.quarters === 'blathy' && freeRooms.blathy.d3 === 0)" class="tiny red-text mdi-notification-dnd-forwardslash"></i> {{'saturday' | translate}}
                ({{freeRooms[reg.quarters].d3}})
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col m8 s12">
            <p style="text-align: justify">
              {{'agreement' | translate}}
            </p>
            <input ng-model="reg.agree" ng-required="true" type="checkbox" class="form-control filled-in" id="agree" name="agree" />
            <label for="agree">{{'agree' | translate}}
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row" ng-show="reg.msg">
          <div class="input-field offset-m2 col m8 s12">
            <div id="msg" class="red-text">{{reg.msg}}</div>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col m5 s12">
            <button ng-disabled="true" type="button" class="waves-effect waves-light btn white-text green">{{'calcPrice' | translate}}: {{reg.price}} HUF</button>
          </div>
          <div class="input-field col m5 s12">
            <button id="reg" ng-disabled="regForm.$invalid || disableRegButton" class="waves-effect waves-light btn white-text" type="submit" name="action">{{'reg' | translate}}
              <i class="mdi-content-send right"></i></button>
          </div>
        </div>

      </form>
    </div>

    <div class="row" ng-show="!showReg" id="success">
      <div class="offset-m2 col s12 m8 section">
        <h5 class="blue-text text-darken-2">{{'reg-success' | translate}}</h5>
        <p>{{'reg_msg1' | translate}}</p>
        <div style="text-align: justify">
          <span class="red-text">{{'important' | translate}} </span>{{'reg_msg2' | translate}}
        </div>
      </div>
    </div>

  </div>


</body>

</html>
