<!DOCTYPE html>
<html>

<head>
  <title>Aikido Reg.</title>
  <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/materialize.min.js"></script>
  <script type="text/javascript" src="./js/is.min.js"></script>
  <script type="text/javascript" src="./js/lodash.min.js"></script>
  <script type="text/javascript" src="./js/angular.min.js"></script>
  <script type="text/javascript" src="./js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="./js/angular-translate.min.js"></script>
  <script type="text/javascript" src="./js/angular-translate-storage-local.min.js"></script>
  <script type="text/javascript" src="./js/angular-translate-storage-cookie.min.js"></script>
  <script type="text/javascript" src="./app/reg.module.js"></script>
  <script type="text/javascript" src="./app/reg.config.js"></script>
  <script type="text/javascript" src="./app/reg.service.js"></script>
</head>

<body ng-app="Reg">

  <div class="container" ng-controller="RegistrationCtrl as reg">
    <div class="row">
      <div class="offset-m2 col s12 m8 section">
        <h5 class="blue-text text-darken-2">{{'reg' | translate}}</h5>
        <p>
          Az következőképpen regisztrálhatsz az Aikido edzőtáborra:
          <ol style="font-weight: 300;">
            <li>Tekintsd át az árakat!</li>
            <li>Add meg, hogy milyen pólót szeretnél rendelni!</li>
            <li>Regisztrálj!</li>
            <li>A rendelésedről és regisztrációdról emailt küldünk, melyben szerepelnek az utaláshoz szükséges adatok.</li>
            <li>Ellenőrizd, majd utald át az összeget.</li>
          </ol>
        </p>
        <div style="text-align: justify">
          <span class="red-text">Fontos </span>Regisztrációd csak a beérkezett összeg után válik érvényessé. A befizetésedről néhány napon belül kapsz egy visszaigazoló emailt. Ha nem kapsz ilyet, akkor vedd fel a kapcsolatot a megadott email címen!
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-m2 col s12 m8 section">

        <h6 class="blue-text text-darken-2" style="padding-top: 1em">Rendezvénynaptár és vizsga időpontok</h6>
        <table>
          <tr class="grey lighten-4">
            <td>08.06.</td>
            <td>csütörtök</td>
            <td>11.00 - 12.30 keiko</td>
            <td>16.00 - 17.30 keiko</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr class="grey lighten-5">
            <td>08.07.</td>
            <td>péntek</td>
            <td>10.00 - 11.30 keiko</td>
            <td>16.00 - 17.30 keiko</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr class="grey lighten-4">
            <td>08.08.</td>
            <td>szombat</td>
            <td>10.00 - 11.30 keiko</td>
            <td>15.00 - 16.30 keiko</td>
            <td>17.00-tól bemutató</td>
            <td>19.00-tól bankett</td>
          </tr>
          <tr class="grey lighten-5">
            <td>08.09.</td>
            <td>vasárnap</td>
            <td>10.00 - 11.30 keiko</td>
            <td>12.00-tól dan vizsga</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <h6 class="blue-text text-darken-2" style="padding-top: 2em">Jegyárak forintban</h6>
        <table>
          <tr class="grey lighten-5">
            <th>&nbsp;</th>
            <th colspan="2" style="text-align: center">MKDE tagoknak</th>
            <th colspan="2" style="text-align: center">Nem MKDE tagoknak</th>
          </tr>
          <tr class="grey lighten-4">
            <th>Jegy</th>
            <th class="right-align">Elővétel</th>
            <th class="right-align">Helyszín</th>
            <th class="right-align">Elővétel</th>
            <th class="right-align">Helyszín</th>
          </tr>
          <tr class="grey lighten-5">
            <td>Teljes tábor</td>
            <td class="right-align">13 000</td>
            <td class="right-align">15 000</td>
            <td class="right-align">17 000</td>
            <td class="right-align">20 0000</td>
          </tr>
          <tr class="grey lighten-4">
            <td>Napijegy</td>
            <td class="right-align">4 000</td>
            <td class="right-align">5 000</td>
            <td class="right-align">6 000</td>
            <td class="right-align">7 000</td>
          </tr>
          <tr class="grey lighten-5">
            <td>Edzésjegy</td>
            <td class="right-align">2 500</td>
            <td class="right-align">3 000</td>
            <td class="right-align">3 500</td>
            <td class="right-align">4 000</td>
          </tr>
        </table>

        <h6 class="blue-text text-darken-2" style="padding-top: 2em">Évfordulós bankett</h6>
        <p style="font-weight: 300">
          Évfordulós bankettünkön megünnepeljük, hogy a Renseikan Dojo - Tatabánya idén ünnepli 15. éves évfordulóját. A bankett 80 főre biztosított, külön belépőjegy nincs, a menürendelés a részvétel feltétele. Az ital fogyasztása egyénileg, külön fizetendő.
          <br/>
          <br/>
          <span style="font-weight: 400">A részletes menüt és árakat a regisztrációnál megtalálod.</span>
          <br/> Helyszín:
          <a href="http://www.kalozfregatt.hu" target="_blank">Fregatt Hotel és Étterem</a>
          <br/>Cím: <a href="https://goo.gl/maps/k36qb" target="_blank">2890 Tata, Almási u. 2.</a>
          <div style="text-align: justify">
            <span class="red-text">Fontos </span>
            Kérünk, hogy a bankettre pontosan érkezz, megfelelő ruházatban.
          </div>
        </p>

        <h6 class="blue-text text-darken-2" style="padding-top: 1em">Szállás és étkezés</h6>
        <p style="font-weight: 300;">
          A szállás igény szerint a regisztrációkor foglalható. Az elhelyezés kollégiumokban történik:
          <br/>
          <span style="font-weight: 400">2 800 Ft/fő/éj</span> - <a href="https://goo.gl/maps/TWh8k" target="_blank">Jávorka Sándor kollégium, cím: 2890 Tata, Új út 19.</a>
          <br/>
          <span style="font-weight: 400">3 000 Ft/fő/éj</span> - <a href="https://goo.gl/maps/iP2u2" target="_blank">Bláthy Ottó kollégium, cím: 2890 Tata, Hősök tere 9.</a>
        </p>
      </div>
    </div>

    <div ng-show="showReg">
      <form ng-submit="reg.registration()" class="offset-m2 col s12 m8" name="regForm" autocomplete="off" role="form" novalidate>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <h5 class="blue-text text-darken-2">{{'reg-form' | translate}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.name" ng-required="true" ng-pattern="/^([a-zöüóőúéáűíä \-\.]){6,100}$/i" name="name" type="text" class="form-control" ng-class="{invalid: regForm.name.$invalid}">
            <span ng-show="regForm.name.$invalid && regForm.name.$dirty">{{'validate-name' | translate}}</span>
            <label for="nev">{{'label-name' | translate}}
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.email" ng-required="true" name="email" type="email" class="form-control" ng-class="{invalid: regForm.email.$invalid}" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
            <span ng-show="regForm.email.$invalid && regForm.email.$dirty">{{'validate-email' | translate}}</span>
            <label for="email">Email
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.dojo" ng-required="true" ng-pattern="/^([a-zöüóőúéáűíä\ \-\.]){2,100}/i" name="dojo" type="text" class="form-control" ng-class="{invalid: regForm.dojo.$invalid}">
            <span ng-show="regForm.dojo.$invalid && regForm.dojo.$dirty">{{'validate-dojo' | translate}}</span>
            <label for="dojo">Dojo
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col s12 m8">
            <input ng-model="reg.tel" maxlength="16" ng-required="true" ng-minlength="7" ng-maxlength="16" ng-pattern="/^([0-9\ \-\+]){7,16}$/" name="tel" type="text" class="form-control" ng-class="{invalid: regForm.tel.$invalid}">
            <span ng-show="regForm.tel.$invalid && regForm.tel.$dirty">{{'validate-tel' | translate}}</span>
            <label for="tel">{{'label-tel' | translate}}
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="offset-m2 input-field col m8 s12">
            <input ng-model="reg.mkdeTag" type="checkbox" class="form-control filled-in" id="mkdeTag" />
            <label for="mkdeTag">{{'label-mkdetag' | translate}}</label>
          </div>
        </div>

        <div class="row">
          <div class="offset-m2 input-field col m8 s12">
            <input ng-model="reg.dojoleader" type="checkbox" class="form-control filled-in" id="dojoleader" />
            <label for="dojoleader">{{'label-dojoleader' | translate}}</label>
          </div>
        </div>

        <div class="row">
          <p class="offset-m2 col m8 s12">{{'label-menu' | translate}} <a href="menu_{{'lang' | translate}}.html" target="_blank">{{'a-menu-list' | translate}}</a></p>
          <div class="input-field offset-m2 col m8 s12">
            <select ng-model="reg.menu" ng-required="true" class="form-control browser-default" name="menu" id="menu">
              <option value="" selected>{{'option-label-menu' | translate}}</option>
              <option value="menu_A">{{'menu_A' | translate}}</option>
              <option value="menu_B">{{'menu_B' | translate}}</option>
              <option value="menu_C">{{'menu_C' | translate}}</option>
              <option value="menu_D">{{'menu_D' | translate}}</option>
              <option value="menu_E">{{'menu_E' | translate}}</option>
              <optgroup label="{{'vega' | translate}}">
                <option value="menu_F">{{'menu_F' | translate}}</option>
                <option value="menu_G">{{'menu_G' | translate}}</option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col m8 s12">
            <select ng-model="reg.ticket" ng-required="true" class="form-control browser-default" name="ticket" id="ticket">
              <option value="" disabled selected>{{'option-label-ticket' | translate}}</option>
              <optgroup label="">
                <option value="teljes" selected>{{'teljes' | translate}}</option>
              </optgroup>
              <optgroup label="">
                <option value="1day">{{'1day' | translate}}</option>
                <option value="2day">{{'2day' | translate}}</option>
                <option value="3day">{{'3day' | translate}}</option>
                <option value="4day">{{'4day' | translate}}</option>
              </optgroup>
              <optgroup label="">
                <option value="1keiko">{{'1keiko' | translate}}</option>
                <option value="2keiko">{{'2keiko' | translate}}</option>
                <option value="3keiko">{{'3keiko' | translate}}</option>
                <option value="4keiko">{{'4keiko' | translate}}</option>
                <option value="5keiko">{{'5keiko' | translate}}</option>
                <option value="6keiko">{{'6keiko' | translate}}</option>
                <option value="7keiko">{{'7keiko' | translate}}</option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col m8 s12">
            <select ng-model="reg.quarters" class="form-control browser-default" name="quarters" id="quarters">
              <option value="" selected>Válassz szállást!</option>
              <option value="javorka">Jávorka Sándor kollégium, augusztus 6 - 8 (3 éj)</option>
              <option value="blathy">Bláthy Ottó kollégium, augusztus 6 - 8 (3 éj)</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field offset-m2 col m8 s12">
            <p style="text-align: justify">
              {{'agreement' | translate}}
            </p>
            <input ng-model="reg.agree" ng-required="true" type="checkbox" class="form-control filled-in" id="agree" name="agree" />
            <label for="agree">{{'agree' | translate}}
              <span class="red-text"> *</span>
            </label>
          </div>
        </div>

        <div class="row" ng-show="reg.msg">
          <div class="input-field offset-m2 col m8 s12">
            <div class="red-text">{{reg.msg}}</div>
          </div>
        </div>

        <div class="row">
          <div class="offset-m2 col m8 s12">
            <p>
              <button ng-disabled="regForm.$invalid" class="waves-effect waves-light btn white-text" type="submit" name="action">{{'reg' | translate}}
              </button>
            </p>
          </div>
        </div>

      </form>
    </div>

    <div class="row" ng-show="!showReg">
      <div class="offset-m2 col s12 m8 section">
        <h5 class="blue-text text-darken-2">Regisztrációd sikeres!</h5>
        <p>Regisztrációs adataidról és az utalandó összegről emailt küldtünk.</p>
        <div style="text-align: justify">
          <span class="red-text">Fontos </span>Regisztrációd csak a beérkezett összeg után válik érvényessé. A befizetésedről néhány napon belül kapsz egy visszaigazoló emailt. Ha nem kapsz ilyet, akkor vedd fel a kapcsolatot a megadott email címen!
        </div>
      </div>
    </div>

  </div>


</body>

</html>
